localhost {
    root * .
    file_server

    handle_path /api/* {
        rate_limit {
            zone api {
                key {http.request.remote.ip}
                events 100
                window 1m
            }
        }
        reverse_proxy http://localhost:6969
    }
}
